<div>
  <%= flash[:notice] %>
</div>
  <p>
   <strong>Title:
   <%= @book.title %>
   </strong>
   </p>
   <p>
   <strong>Body:
   <%= @book.body %>
   </strong>
  </p>
 <%= link_to "Edit", edit_book_path(@book.id) %>
|
 <%= link_to "Back", books_path %>